@page              
@model AboutUsModel 
@{
	ViewData["Title"] = "About Us";
}

<link rel="stylesheet" href="~/css/site.css" />

<h1 class="about-us">@ViewData["Title"]</h1>
<p class="about-us">
	Quick Kitchen is a website dedicated to collecting easy-to-make recipes for busy people.
	Our team of three, called Code Ninjas, is passionate about cooking and believes that
	everyone should have access to delicious, healthy food that can be made quickly.
</p>

<h2 class="about-us">Meet Our Team</h2> 
<div class="about-us">
	<img class="about-us-img" src="/images/gif/d.gif" alt="Code Ninjas">
	<span class="about-us-names">
		<p>Grace</p>
		<p>Sara</p>
		<p> Naveen</p>
	</span>
</div> @*This division has an animated image next to team members*@
<p class="about-us">
	In the fast-paced world we live in and with our busy schedules,
	"quick" has become the mantra. There's nothing better than a delicious dish that can be
	made quickly. The likelihood of cooking a meal regularly increases with the ease of preparation.
	On a daily basis, we are always on the lookout for dishes that don't take hours to prepare,
	from appetizers to desserts.
</p>
<p class="about-us">
	Together, we have created Quick Kitchen to share our love of cooking
	and to help others find quick and easy recipes that fit their busy lifestyles. We hope you
	enjoy using our website and find inspiration for your next meal!
</p> @*Explains the purpose of Quick Kitchen and invite users to explore the website*@