@page
@model ItemNotFoundModel
@{
    ViewData["Title"] = "Error";
}

<link rel="stylesheet" href="~/css/site.css" />

<h1>Item Not Found.</h1>
<h2>The recipe you are trying to access is not in our database.</h2>

<p>Please navigate to another part of the webpage using the navigation bar above to find more recipes or more information about our website.</p>