@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Page Heading -->
<h1 class="privacy">@ViewData["Title"]</h1>

<!-- Introduction -->
<p>
	At Quick Kitchen, we value your privacy and are committed to protecting your personal information.
	We collect both personal and non-personal information when you use our website and may use this
	information to respond to your inquiries or send you marketing materials with your consent.
	Please note we only share your personal information with third-party service providers who perform
	services on our behalf. We require them to protect your information and to only use it for the
	purpose for which it was provided.
</p>

<!-- Data Security -->
<p>
	We do our best to protect your personal information from unauthorized access, disclosure,
	alteration, or destruction. Unfortunately, we cannot guarantee the security of your personal
	information.
</p>

<!-- Policy Updates -->
<p>
	We may update this Privacy Policy from time to time. Please check this page for our most updated policy.
	By using our website, you consent to our collection, use, and disclosure of your personal information in
	accordance with this Privacy Policy. If you have any questions or concerns in regards to our privacy policy, 
	please contact us at
	<a href="mailto:admin@quickkitchen.com">admin@quickkitchen.com</a>.
</p>

<!-- Privacy Image -->
<p class="privacy">
	<img class="privacy-img" src="/images/gif/privacy.gif" alt="Privacy">
</p>